.cardContainer{
    width:350px;
        height: 100%;
        text-align: left;
        padding: 30px;
        border-radius: 20px;
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
        transition: 0.5s all ease-in-out;
        &:hover .inner img{
            transform: scale(1.1);
        }
        .inner{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                border-radius: 20px;
             
            }
            .cardMeta{
                display: flex;
                justify-content: space-between;
                margin-top: 12px;
            }
            .cardMetaRight {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap:5px;
                   
            }

        }
        .cardTitle{
            transition: all 0.4s ease;
            color: var(--color-lightn);
            font-weight: 600;
            font-size: 18px;
            line-height: 34px;
           svg{
            display: inline;
            margin-left: 6px;
            opacity:0;
            transition :all 0.4s ease;
           }
           &:hover svg{
            opacity:1;
           }
        }
        
}
