.container {
  display: flex;
  width: 80%;
  border: 1px solid green;
  margin: 0 auto;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.textContainer,
.imageContainer {
  flex: 1;
  border: 1px solid red;
}
.textContainer {
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 22px;
    color: var(--text-color); 
  }
}

.title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--color-lightn);
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

span.name {
  color: var(--secondary);
}

.description {
  line-height: 25px;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px;

}

.buttonContainer {
  display: flex;
  gap: 1rem;
  @media (max-width:768px) {
    flex-direction: column;
  }


  .socialBtn p, .skillBtn p {
    width: 100%;
  }
}


.socialBtn,
.skillBtn {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
