.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;


}

.react-tabs__tab--selected {
    background: linear-gradient(145deg, #1e2024, #23272b);
    color: #ff014f;

}


